node_modules
private

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

my-app/
package.json
package-lock.json

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.edit.xml
